/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 100%);
  }
  
  .container {
    display: flex;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
  }
  
  /* .sidebar {
    width: 25%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 45px;
    font-weight: bold;
    color: hsl(240, 5.9%, 10%);
    text-align: center;
    margin-top: 10px;
  }
  
  .colored {
    color: #BA68C8;
  }
 
  .menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .menu-item {
    display: block;
    padding: 10px 50px;
    color:hsl(291, 47%, 60%);
    text-decoration: none;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid hsl(262, 47%, 55%);
    margin-bottom: 10px;
    width: 60%;
  }
  
  .menu-item:hover {
    color: hsl(240, 5.9%, 90%);
    background-color: hsl(262, 47%, 55%);
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .section-title {
    margin-top: 40px;
    font-size: 15px;
    color:hsl(292, 41%, 62%);
  }
  
  .search-box {
    margin-top: 40px;
  }
  
  .search-input {
    width: 85%;
    padding: 10px;
    border: 2px solid hsl(262, 47%, 55%);
    border-radius: 25px;
  } */

  .colored {
    color: #BA68C8;
  }
  
  .main-content {
    flex: 1;
    padding: 40px;
  }

  .main-card {
    /* justify-content: center; */
    display: flex;
    padding-left: 5rem;
    align-items: center; 
    border: solid 1px transparent;
    border-radius: 10px;
    height: 15rem;
    background: rgb(60,41,92);
    background: linear-gradient(90deg, rgba(60,41,92,1) 0%, rgba(126,87,194,1) 100%);
    
  }
  

  .welcome-title {
    font-size: 50px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 20px;
  }
  
  .card {
    position: relative; 
  }
  
  .card-image-container {
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    margin: 0; 
    padding: 0; 
  }
  
  .card-image {
    width: 100%; 
    height: 50%; 
  }
  
  .card-content {
    padding: 9rem 1rem 1rem 1rem; 
    background-color: hsl(262, 47%, 55%);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: hsl(0, 0%, 100%);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    padding-top: 10px;
    font-size: 12px;
    display: flex; 
    align-items: center;
  }
  
  .icon-image {
    width: 16px; 
    height: 16px; 
    margin-right: 8px;
  }
  

  .card:hover {
    transform: scale(1.05); 
  }
  